# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root
ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}


# If ansible_ssh_user is not root, ansible_become must be set to true
#ansible_become=true

openshift_deployment_type=origin


# host group for masters
[masters]
{{ os_master.display_name }} openshift_hostname={{ os_master.display_name }} openshift_public_hostname={{ os_master.display_name }}

# host group for etcd
[etcd]
{{ os_master.display_name }}

# host group for nodes, includes region info
[nodes]
{{ os_master.display_name }} openshift_hostname={{ os_master.display_name }} openshift_public_hostname={{ os_master.display_name }}
{% for item in os_nodes.results %}
{{ item.display_name }} openshift_hostname={{ item.display_name }} openshift_public_hostname={{ item.display_name }}
{% endfor %}
